<nav class="mt-2">
  <div class="flex">
    <button
      *ngFor="let enum of categories | keyvalue"
      class="p-3 cursor-pointer rounded border border-orange-500 mr-3"
      (click)="showProduct(enum.key)"
      [ngClass]="{
        'bg-orange-500': filters.includes(enum.key)
      }"
    >
      {{ enum.key }}
    </button>
  </div>
</nav>

<div
  *ngIf="products$ | async as product"
  class="flex flex-wrap row-start-2 col-start-1 col-span-3"
>
  <app-product-card
    *ngFor="let item of product"
    [item]="item"
  ></app-product-card>
</div>
