<app-filters
  [filters]="filters"
  (showProduct)="showProduct($event)"
></app-filters>

<div
  *ngIf="notifyService.toastVisible"
  class="sticky top-4 md:mb-4 md:row-start-1 md:col-start-3 md:col-span-2 md:relative lg:col-start-4 lg:col-span-1"
>
  <app-notify [message]="notifyService.message"></app-notify>
</div>

<div
  *ngIf="products$ | async as product"
  class="flex justify-center flex-wrap row-start-4 md:justify-start md:row-start-2 md:row-span-1 md:col-span-3"
>
  <app-product-card
    *ngFor="let item of product"
    [item]="item"
  ></app-product-card>
</div>

<app-cart
  class="row-start-3 md:row-start-2 md:row-span-2 md:col-start-4"
></app-cart>
