<app-filters
  [filters]="filters"
  (showProduct)="showProduct($event)"
></app-filters>

<div
  *ngIf="notifyService.toastVisible"
  class="row-start-1 col-start-4 bg-black my-2 rounded text-white flex justify-center items-center"
>
  <app-notify [message]="notifyService.message"></app-notify>
</div>

<div
  *ngIf="products$ | async as product"
  class="flex flex-wrap row-start-2 col-start-1 col-span-3"
>
  <app-product-card
    *ngFor="let item of product"
    [item]="item"
  ></app-product-card>
</div>

<app-cart class="row-start-2 row-span-2 col-start-4"></app-cart>
