<div *ngIf="cart$ | async as cart">
  <p>Produktów w koszyku: {{ cart.inCart }}</p>
  <p>Suma zamówienia: {{ cart.toPay }}</p>
  <button
    *ngIf="cart.inCart != 0"
    class="bg-black text-white p-3 rounded w-full my-4"
    (click)="onClearCart()"
  >
    Wyczyść koszyk
  </button>
</div>

<!-- Need to change this -->
<div *ngIf="snails$ | async as product">
  <app-mini-card *ngFor="let item of product" [item]="item"></app-mini-card>
</div>

<div *ngIf="baguettes$ | async as product">
  <app-mini-card *ngFor="let item of product" [item]="item"></app-mini-card>
</div>

<div *ngIf="frogs$ | async as product">
  <app-mini-card *ngFor="let item of product" [item]="item"></app-mini-card>
</div>
