:host {
  @apply bg-gray-500 h-full rounded text-white flex justify-center items-center py-4 md:py-0 md:bg-black;
  animation: fade-in-right 0.3s ease-out both;
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
